*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    background-color: green;
}
/* header */
.header{
    width: 1280px;
    max-width: 0 auto;
    background-color: green;
}
.header h1{
    text-align: center;
    font-size: 50px;
    font-family: impact;
    padding-top: 15px;
}
.header h3{
    text-align: center;
    font-size: 35px;
    padding: 20px 0;
}
/* grid de escolhas */
.pai{
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0;
    background: blue;
}
.filha{
    box-sizing: border-box;
    float: left;
    width: 640px;
    height: 300px;
    background: red;
    border: 1px solid black;
}
.filha h1{
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    font-family: impact;
    padding-top: 120px;
    color: black
    
}